<div class="social-links">
    <a href="https://www.youtube.com/@ii_Spectre" target="_blank" aria-label="YouTube">
        <img src="/Media/Icons/youtube.png" alt="YouTube">
    </a>
    <a href="https://www.speedrun.com/users/ii_Spectre" target="_blank" aria-label="Speedrun">
        <img src="/Media/Icons/speedrun.png" alt="Speedrun">
    </a>
    <a href="https://www.tiktok.com/@ii_spectre2" target="_blank" aria-label="TikTok">
        <img src="/Media/Icons/tiktok.png" alt="TikTok">
    </a>
    <a href="https://github.com/iiSpectre" target="_blank" aria-label="GitHub">
        <img src="/Media/Icons/github.png" alt="GitHub">
    </a>
    <a href="https://www.roblox.com/users/274799664/profile" target="_blank" aria-label="Roblox">
        <img src="/Media/Icons/roblox.png" alt="Roblox">
    </a>
    <a href="https://steamcommunity.com/id/ii_Spectre" target="_blank" aria-label="Steam">
        <img src="/Media/Icons/steam.png" alt="Steam">
    </a>
    <a href="https://discord.gg/WQ96WAuV" target="_blank" aria-label="Discord">
        <img src="/Media/Icons/discord.png" alt="Discord">
    </a>
    <a href="https://xdaforums.com/m/ii_spectre.11468165/" target="_blank" aria-label="XDA">
        <img src="/Media/Icons/xda.png" alt="XDA">
    </a>
</div>
